---
import GoodMix from '@assets/casestudies/goodmix-desktop.png';
import MacSweeny from '@assets/casestudies/mac-sweeny-tablet.png';
import Casestudy from '@components/casestudy.astro';
import Sectionhead from '@components/sectionhead.astro';
---

<section class="my-32 min-h-screen">
  <Sectionhead title="Case Studies." style="text-center" />
  <div class="grid h-full grid-cols-12">
    <div class="col-span-5 h-96">
      <Casestudy
        imageSrc={MacSweeny}
        imageAlt="Mac Sweeny"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Mac Sweeny"
        url="https://www.mac-sweeny.dev/"
      />
    </div>
    <div class="col-span-5 col-start-7 h-96 place-items-end items-end">
      <Casestudy
        imageSrc={GoodMix}
        imageAlt="Goodmix"
        year="2023"
        services="Web Design, Development & Hosting"
        name="Goodmix"
        url="https://www.goodmix.com.au/"
      />
    </div>
  </div>
</section>
