<section class="my-32">
  <h2 class="text-center font-melodrama text-9xl">
    <span
      class="bg-gradient-to-b from-neutral-50 from-50% to-neutral-600 bg-clip-text text-transparent"
    >
      Case Studies.
    </span>
  </h2>
</section>
