---
import Link from '../ui/astro/link.astro';
---

<div
  class="mt-20 flex flex-col items-center bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 text-center md:px-20 md:py-20"
>
  <h2 class="text-4xl tracking-tight text-white md:text-6xl">Build faster websites.</h2>
  <p class="mt-4 text-lg text-white/70 md:text-xl">
    Pull content from anywhere and serve it fast with Astro's next-gen island architecture.
  </p>
  <div class="mt-5 flex">
    <Link href="#" style="inverted">Sign up for a 14-day Trial</Link>
  </div>
</div>
