---
const navigation = {
  main: [
    {
      title: 'Case Studies',
      path: '/case-studies',
    },
    {
      title: 'Our Process',
      path: '/process',
    },
    {
      title: 'Pricing',
      path: '/pricing',
    },
    {
      title: 'Contact',
      path: '/contact',
    },
  ],
};
---

<footer class="bg-neutral-950">
  <div class="mx-auto max-w-7xl py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 flex columns-2 justify-center space-x-12" aria-label="Footer">
      {
        navigation.main.map((item) => (
          <div class="pb-6">
            <a href={item.path} class="text-sm leading-6 text-neutral-300 hover:text-neutral-100">
              {item.title}
            </a>
          </div>
        ))
      }
    </nav>

    <p class="mt-10 text-center text-xs leading-5 text-neutral-400">
      &copy; 2024 Sweeny Studio, Inc. All rights reserved.
    </p>
  </div>
</footer>
 ) }

