<div class="flex flex-col items-center">
  <h2 class="text-center text-neutral-300">Partnered with the best</h2>
  <div
    class="mt-6 grid grid-cols-2 place-items-center items-center justify-center gap-x-8 gap-y-4 lg:max-w-2xl lg:grid-cols-4"
  >
    <div class="my-2 h-9 text-neutral-400 md:h-11">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="currentColor"
        height="48"
        viewBox="0 0 97 48"
        width="97"
        class="h-9 text-neutral-400 md:h-11"
        ><clipPath id="a"><path d="m0 0h97v48h-97z"></path></clipPath><g
          clip-path="url(#a)"
          fill="current"
          ><path
            clip-rule="evenodd"
            d="m52.5131 4v5.42063l-6.763 1.44197v-5.44736zm14.0657 8.4375c-2.6406 0-4.3381 1.2283-5.2812 2.0828l-.3502-1.6556h-5.9278v31.1353l6.7361-1.4153.0269-7.5568c.97.6943 2.3981 1.6823 4.7692 1.6823 4.8231 0 9.215-3.8452 9.215-12.3099-.0269-7.7438-4.4728-11.9628-9.188-11.9628zm-1.6167 18.3981c-1.5897 0-2.5328-.5608-3.1795-1.255l-.0269-9.9067c.7006-.7744 1.6706-1.3084 3.2064-1.3084 2.4519 0 4.1494 2.7236 4.1494 6.2217 0 3.5781-1.6705 6.2484-4.1494 6.2484zm32.0382-6.1683c0-6.8359-3.3412-12.2298-9.727-12.2298-6.4128 0-10.2928 5.3939-10.2928 12.1764 0 8.0375 4.5806 12.0962 11.155 12.0962 3.2064 0 5.6314-.7209 7.4637-1.7356v-5.3405c-1.8323.9079-3.9339 1.4686-6.6014 1.4686-2.6137 0-4.9309-.9079-5.2273-4.0588h13.1759c0-.1463.0096-.4776.0206-.86l.0002-.006v-.0004-.0003-.0007l.0001-.0006v-.0004c.0151-.523.033-1.1393.033-1.5081zm-13.3106-2.5368c0-3.0174 1.8592-4.2724 3.5567-4.2724 1.6436 0 3.395 1.255 3.395 4.2724zm-31.1766-9.2399h-6.763v23.3648h6.763zm-14.4391.0026.4311 1.976c1.5897-2.8839 4.7422-2.2964 5.6045-1.976v6.1416c-.8353-.2937-3.5298-.6676-5.1195 1.3885v15.8347h-6.7361v-23.3648zm-13.0429-5.79554-6.5744 1.38853-.027 21.38881c0 3.9519 2.9909 6.8625 6.9787 6.8625 2.2094 0 3.8261-.4005 4.7153-.8812v-5.4206c-.8623.3472-5.1195 1.5755-5.1195-2.3765v-9.4794h5.1195v-5.6877h-5.1195zm-15.9238 11.13434c-1.42806 0-2.29029.4005-2.29029 1.4419 0 1.137 1.4839 1.6372 3.32489 2.2577 3.0011 1.0116 6.9512 2.3431 6.9679 7.2751 0 4.7798-3.8531 7.5302-9.45751 7.5302-2.31722 0-4.85-.454-7.35584-1.5221v-6.3552c2.26334 1.2283 5.11945 2.1362 7.35584 2.1362 1.50889 0 2.58671-.4005 2.58671-1.6289 0-1.2594-1.60861-1.8351-3.5506-2.5301-2.95752-1.0585-6.68833896-2.3937-6.68833896-6.8425 0-4.7263 3.63750896-7.5568 9.10723896-7.5568 2.2364 0 4.4458.3471 6.6822 1.2283v6.2751c-2.0478-1.0948-4.6344-1.7089-6.6822-1.7089z"
            fill-rule="evenodd"></path></g
        ></svg
      >
    </div>

    <div class="my-2 h-7 text-neutral-400 md:h-9">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 446.3 127.5"
        fill="current"
        class="h-full w-auto"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: rgb(163 163 163 / var(--tw-text-opacity));
          }
        </style>
        <g>
          <g>
            <path
              id="s_5_"
              class="st0"
              d="M154.4,70.9c-3.8-2.1-5.8-3.8-5.8-6.2c0-3.1,2.7-5,7-5c5,0,9.4,2.1,9.4,2.1l3.5-10.7    c0,0-3.2-2.5-12.7-2.5c-13.2,0-22.4,7.6-22.4,18.2c0,6,4.3,10.6,10,13.9c4.6,2.6,6.2,4.5,6.2,7.2c0,2.9-2.3,5.2-6.6,5.2    c-6.4,0-12.4-3.3-12.4-3.3l-3.7,10.7c0,0,5.6,3.7,14.9,3.7c13.6,0,23.3-6.7,23.3-18.7C165.3,78.9,160.3,74.3,154.4,70.9z"
            ></path>
            <path
              id="h_5_"
              class="st0"
              d="M208.6,48.4c-6.7,0-11.9,3.2-16,8l-0.2-0.1l5.8-30.4H183l-14.7,77.3h15.1l5-26.4    c2-10,7.1-16.1,11.9-16.1c3.4,0,4.7,2.3,4.7,5.6c0,2.1-0.2,4.6-0.7,6.7l-5.7,30.3h15.1l5.9-31.2c0.7-3.3,1.1-7.2,1.1-9.9    C220.9,53.5,216.5,48.4,208.6,48.4z"
            ></path>
            <path
              id="o_5_"
              class="st0"
              d="M255.1,48.4c-18.2,0-30.3,16.4-30.3,34.7c0,11.7,7.2,21.2,20.8,21.2c17.9,0,29.9-16,29.9-34.7    C275.6,58.7,269.3,48.4,255.1,48.4z M247.7,92.6c-5.2,0-7.3-4.4-7.3-9.9c0-8.7,4.5-22.8,12.7-22.8c5.4,0,7.1,4.6,7.1,9.1    C260.2,78.4,255.7,92.6,247.7,92.6z"
            ></path>
            <path
              id="p_5_"
              class="st0"
              d="M314.3,48.4c-10.2,0-16,9-16,9h-0.2l0.9-8.1h-13.4c-0.7,5.5-1.9,13.8-3.1,20.1L272,124.6h15.1    l4.2-22.4h0.3c0,0,3.1,2,8.9,2c17.8,0,29.4-18.2,29.4-36.6C329.9,57.5,325.4,48.4,314.3,48.4z M299.9,92.9c-3.9,0-6.2-2.2-6.2-2.2    l2.5-14.1c1.8-9.4,6.7-15.7,11.9-15.7c4.6,0,6,4.3,6,8.3C314.1,78.9,308.3,92.9,299.9,92.9z"
            ></path>
            <path
              id="dot_5_"
              class="st0"
              d="M351.5,26.7c-4.8,0-8.7,3.8-8.7,8.8c0,4.5,2.8,7.6,7.1,7.6h0.2c4.7,0,8.8-3.2,8.9-8.8    C359.1,29.8,356.1,26.7,351.5,26.7z"
            ></path>
            <polygon id="i_5_" class="st0" points="330.3,103.2 345.5,103.2 355.8,49.6 340.5,49.6   "
            ></polygon>
            <path
              id="f_5_"
              class="st0"
              d="M394.2,49.5h-10.5l0.5-2.5c0.9-5.2,3.9-9.8,9-9.8c2.7,0,4.8,0.8,4.8,0.8l3-11.8    c0,0-2.6-1.3-8.2-1.3c-5.4,0-10.7,1.5-14.8,5c-5.2,4.4-7.6,10.7-8.8,17.1l-0.4,2.5h-7l-2.2,11.4h7l-8,42.3h15.1l8-42.3h10.4    L394.2,49.5z"
            ></path>
            <path
              id="y_5_"
              class="st0"
              d="M430.6,49.6c0,0-9.5,23.8-13.7,36.8h-0.2c-0.3-4.2-3.7-36.8-3.7-36.8h-15.9l9.1,49.2    c0.2,1.1,0.1,1.8-0.3,2.5c-1.8,3.4-4.7,6.7-8.2,9.1c-2.8,2.1-6,3.4-8.5,4.3l4.2,12.8c3.1-0.7,9.4-3.2,14.8-8.2    c6.9-6.5,13.3-16.4,19.8-30l18.5-39.7H430.6z"
            ></path>
          </g>
          <g>
            <path
              class="st0"
              d="M74.8,14.8c0,0-1.4,0.4-3.7,1.1c-0.4-1.3-1-2.8-1.8-4.4c-2.6-5-6.5-7.7-11.1-7.7c0,0,0,0,0,0    c-0.3,0-0.6,0-1,0.1c-0.1-0.2-0.3-0.3-0.4-0.5c-2-2.2-4.6-3.2-7.7-3.1c-6,0.2-12,4.5-16.8,12.2c-3.4,5.4-6,12.2-6.7,17.5    c-6.9,2.1-11.7,3.6-11.8,3.7c-3.5,1.1-3.6,1.2-4,4.5c-0.3,2.5-9.5,72.9-9.5,72.9l75.6,13.1V14.7C75.3,14.7,75,14.8,74.8,14.8z     M57.3,20.2c-4,1.2-8.4,2.6-12.7,3.9c1.2-4.7,3.6-9.4,6.4-12.5c1.1-1.1,2.6-2.4,4.3-3.2C57,12,57.4,16.9,57.3,20.2z M49.1,4.4    c1.4,0,2.6,0.3,3.6,0.9c-1.6,0.8-3.2,2.1-4.7,3.6c-3.8,4.1-6.7,10.5-7.9,16.6c-3.6,1.1-7.2,2.2-10.5,3.2    C31.8,19.1,39.9,4.6,49.1,4.4z M37.5,59.4c0.4,6.4,17.3,7.8,18.3,22.9c0.7,11.9-6.3,20-16.4,20.6c-12.2,0.8-18.9-6.4-18.9-6.4    l2.6-11c0,0,6.7,5.1,12.1,4.7c3.5-0.2,4.8-3.1,4.7-5.1c-0.5-8.4-14.3-7.9-15.2-21.7C23.9,51.8,31.5,40.1,48.3,39    c6.5-0.4,9.8,1.2,9.8,1.2l-3.8,14.4c0,0-4.3-2-9.4-1.6C37.5,53.5,37.4,58.2,37.5,59.4z M61.3,19c0-3-0.4-7.3-1.8-10.9    c4.6,0.9,6.8,6,7.8,9.1C65.5,17.7,63.5,18.3,61.3,19z"
            ></path>
            <path
              class="st0"
              d="M78.2,124l31.4-7.8c0,0-13.5-91.3-13.6-91.9c-0.1-0.6-0.6-1-1.1-1c-0.5,0-9.3-0.2-9.3-0.2s-5.4-5.2-7.4-7.2    V124z"
            ></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="my-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 text-neutral-400 md:h-7"
        viewBox="0 0 4438 1000"
        fill="rgb(163 163 163 / var(--tw-text-opacity))"
      >
        <path
          d="M2223.75 250C2051.25 250 1926.87 362.5 1926.87 531.25C1926.87 700 2066.72 812.5 2239.38 812.5C2343.59 812.5 2435.47 771.25 2492.34 701.719L2372.81 632.656C2341.25 667.188 2293.28 687.344 2239.38 687.344C2164.53 687.344 2100.94 648.281 2077.34 585.781H2515.16C2518.59 568.281 2520.63 550.156 2520.63 531.094C2520.63 362.5 2396.41 250 2223.75 250ZM2076.09 476.562C2095.62 414.219 2149.06 375 2223.75 375C2298.59 375 2352.03 414.219 2371.41 476.562H2076.09ZM2040.78 78.125L1607.81 828.125L1174.69 78.125H1337.03L1607.66 546.875L1878.28 78.125H2040.78ZM577.344 0L1154.69 1000H0L577.344 0ZM3148.75 531.25C3148.75 625 3210 687.5 3305 687.5C3369.38 687.5 3417.66 658.281 3442.5 610.625L3562.5 679.844C3512.81 762.656 3419.69 812.5 3305 812.5C3132.34 812.5 3008.13 700 3008.13 531.25C3008.13 362.5 3132.5 250 3305 250C3419.69 250 3512.66 299.844 3562.5 382.656L3442.5 451.875C3417.66 404.219 3369.38 375 3305 375C3210.16 375 3148.75 437.5 3148.75 531.25ZM4437.5 78.125V796.875H4296.88V78.125H4437.5ZM3906.25 250C3733.75 250 3609.38 362.5 3609.38 531.25C3609.38 700 3749.38 812.5 3921.88 812.5C4026.09 812.5 4117.97 771.25 4174.84 701.719L4055.31 632.656C4023.75 667.188 3975.78 687.344 3921.88 687.344C3847.03 687.344 3783.44 648.281 3759.84 585.781H4197.66C4201.09 568.281 4203.12 550.156 4203.12 531.094C4203.12 362.5 4078.91 250 3906.25 250ZM3758.59 476.562C3778.13 414.219 3831.41 375 3906.25 375C3981.09 375 4034.53 414.219 4053.91 476.562H3758.59ZM2961.25 265.625V417.031C2945.63 412.5 2929.06 409.375 2911.25 409.375C2820.47 409.375 2755 471.875 2755 565.625V796.875H2614.38V265.625H2755V409.375C2755 330 2847.34 265.625 2961.25 265.625Z"
          fill="rgb(163 163 163 / var(--tw-text-opacity))"></path>
      </svg>
    </div>
    <div class="my-2 h-7 text-neutral-400 md:h-9">
      <svg
        fill="currentColor"
        viewBox="0 0 175 48"
        width="175"
        height="48"
        class="h-full w-auto"
        xmlns="http://www.w3.org/2000/svg"
        ><g fill="current"
          ><path
            d="m37.6816794 0h-32.06106871c-2.9509542 0-5.34351145 2.39255725-5.34351145 5.34351145v32.06106875c0 2.9509542 2.39255725 5.3435114 5.34351145 5.3435114h32.06106871c2.9509542 0 5.3435114-2.3925572 5.3435114-5.3435114v-32.06106875c0-2.9509542-2.3925572-5.34351145-5.3435114-5.34351145zm-10.3316794 7.83759542c0-.78683206.6385496-1.42538168 1.4253817-1.42538168.786832 0 1.4253817.63854962 1.4253817 1.42538168v19.03759538c0 .7868321-.6385497 1.4253817-1.4253817 1.4253817-.7868321 0-1.4253817-.6385496-1.4253817-1.4253817zm-7.1242366-.72137405c0-.78683206.6385496-1.42538168 1.4253816-1.42538168.7868321 0 1.4253817.63854962 1.4253817 1.42538168v20.66202293c0 .786832-.6385496 1.4253817-1.4253817 1.4253817-.786832 0-1.4253816-.6385497-1.4253816-1.4253817zm-7.1242367.72137405c0-.78683206.6385496-1.42538168 1.4253817-1.42538168s1.4240458.63854962 1.4240458 1.42538168v19.03759538c0 .7868321-.6372137 1.4253817-1.4240458 1.4253817s-1.4253817-.6385496-1.4253817-1.4253817zm-7.12423662 2.84942748c0-.78683206.63721374-1.42538168 1.4240458-1.42538168s1.42538168.63854962 1.42538168 1.42538168v12.8164122c0 .7868321-.63854962 1.4253817-1.42538168 1.4253817s-1.4240458-.6385496-1.4240458-1.4253817zm30.85076332 21.7347328c-.2190839.1896947-5.4984732 4.6181298-15.1769084 4.6181298-9.6784351 0-14.95515263-4.4284351-15.17690836-4.6181298-.5971374-.5116412-.66793893-1.410687-.15496183-2.0091603.51030534-.5958015 1.40801527-.666603 2.00515267-.1562977.08282443.0694657 4.79713742 3.9341603 13.32538172 3.9341603 8.6351145 0 13.2759542-3.8927481 13.321374-3.9314885.5958015-.5129771 1.4975191-.4435115 2.0078244.1536259.5156489.5984733.4461832 1.4975191-.1509542 2.0091603zm.4969466-8.9183206c0 .7868321-.6385496 1.4253817-1.4253817 1.4253817-.786832 0-1.4240458-.6385496-1.4240458-1.4253817v-12.8164122c0-.78683206.6372138-1.42538168 1.4240458-1.42538168.7868321 0 1.4253817.63854962 1.4253817 1.42538168z"
            transform="translate(1 3)"></path><g transform="translate(57.442748 16.358779)"
            ><path
              d="m3.54007634 14.1950382c0 .7133587-.54503817 1.2998091-1.32118321 1.2998091-.75477099 0-1.29980916-.5877862-1.29980916-1.2998091v-12.39293896c0-.71335878.54503817-1.29980916 1.32118321-1.29980916.75477099 0 1.29980916.58778626 1.29980916 1.29980916z"
            ></path><path
              d="m20.4830153 1.80209924v11.32423666c0 1.530916-.8175573 2.3912214-2.1173664 2.3912214h-.1041985c-1.2370229 0-1.8248092-.7133588-2.3484733-1.7620229l-2.6423664-5.13778631-2.3484733-5.30477099.0627863 5.13778626.021374 5.72423664c0 .7133588-.5450382 1.2998092-1.3211832 1.2998092-.75477099 0-1.29980916-.5877863-1.29980916-1.2998092v-11.32423664c0-1.40534351.81755726-2.39122137 2.24427486-2.39122137h.1041984c1.3211832 0 1.8662214.71335877 2.3912214 1.7620229l2.5996183 5.09637404 2.2229008 4.94942747-.0627863-4.73969464-.021374-5.72423665c0-.71335877.5450381-1.29980916 1.3211832-1.29980916.7534351-.00133587 1.2984733.58511451 1.2984733 1.29847329z"
            ></path><path
              d="m30.9896947 14.175c0 .7133588-.5450382 1.2998092-1.3211832 1.2998092-.754771 0-1.2998092-.5877863-1.2998092-1.2998092v-11.21870229h-3.2501908c-.6706107 0-1.2156489-.50362595-1.2156489-1.2370229 0-.71335878.5450382-1.21564886 1.2156489-1.21564886h9.121374c.6706107 0 1.2156489.50362596 1.2156489 1.2370229 0 .71335878-.5450382 1.21564886-1.2156489 1.21564886h-3.2501908z"
            ></path><path
              d="m38.8740458 13.7555344v-11.63816799c0-1.09007633.6078244-1.69790076 1.7192748-1.65648855h7.5490458c.6706107 0 1.2156489.52366413 1.2156489 1.2370229 0 .71335878-.5450382 1.21564886-1.2156489 1.21564886h-6.6687023v3.60687023h5.8925573c.6505725 0 1.1742366.48225191 1.1742366 1.17423664s-.5236641 1.17423664-1.1742366 1.17423664h-5.8925573v4.15190837h6.6687023c.6706107 0 1.2156489.5236641 1.2156489 1.2370229s-.5450382 1.2156511-1.2156489 1.2156511h-7.611832c-1.0900764.0013337-1.6979008-.6064908-1.6564886-1.7179411z"
            ></path><path
              d="m64.2477099 13.7755725c.3566794.6078244.1255725 1.3839695-.6078244 1.7620229-.7133588.3566794-1.4895038.0841603-1.8448473-.5236641l-2.9148855-5.3889313h-2.767939l.0213741 4.571374c0 .7133588-.5450382 1.2998092-1.3211832 1.2998092-.754771 0-1.2998092-.5877863-1.2998092-1.2998092v-12.07900759c0-1.09007633.6078244-1.69790076 1.7192748-1.65648855h4.9694657c3.4185114 0 4.8438931 2.22290077 4.8438931 4.48721374 0 2.16011451-1.2583969 3.7538168-3.4185114 4.17328245zm-8.136832-6.52175571h4.1519084c1.4053435 0 2.1387404-.90171755 2.1387404-2.18148855 0-1.27977099-.776145-2.1601145-2.1601145-2.1601145h-4.1305343z"
            ></path><path
              d="m70.4541985 14.3633588c-1.5723283-1.4053435-2.285687-3.6068703-2.285687-6.37480918 0-2.78931298.6919847-4.96946565 2.2442748-6.35343512.9645038-.83893129 2.2643129-1.40534351 4.1519084-1.40534351 1.6564885 0 2.9362595.37805344 3.9007633 1.19561069.8389313.67061069 1.4467557 1.61507634 1.8034351 2.93625954.1883588.69198473-.2938931 1.38396947-1.0900763 1.53091603-.754771.12557252-1.3625954-.35667939-1.5937023-1.04866412-.251145-.67061069-.5877863-1.1528626-.9858779-1.48950382-.5450381-.48225191-1.2156488-.69198473-2.0973282-.69198473-.9431298 0-1.7620229.27251908-2.3698473.88034351-.8803435.88034351-1.258397 2.45400764-1.258397 4.44580153 0 1.97175572.3566794 3.54408398 1.279771 4.42442748.6078244.6078244 1.4053435.8803435 2.3270993.8803435.9645038 0 1.6979007-.251145 2.307061-.8175572.3139313-.2938932.5877863-.6706107.7761451-1.1114504.272519-.6505725.8389313-1.1328245 1.5723282-.9645038.7333969.1683206 1.1956107.8803435.9645038 1.5723282-.3780534 1.1528626-1.0272901 2.0759542-1.9076336 2.7051527-.9645038.6919847-2.1601145 1.0486641-3.6696565 1.0486641-1.9290076 0-3.1459923-.5664122-4.0690839-1.3625954z"
            ></path><path
              d="m83.2251908 7.98854962c0-4.69694657 1.9290077-7.75877863 6.4803436-7.75877863 4.5085877 0 6.4589694 2.97767176 6.4589694 7.75877863 0 4.84389308-1.9717557 7.75877858-6.4589694 7.75877858-4.5713741 0-6.4803436-2.9148855-6.4803436-7.75877858zm10.2541985 0c0-3.56545802-1.2998091-5.30477099-3.795229-5.30477099-2.4540076 0-3.7538168 1.74064885-3.7538168 5.30477099 0 3.56545798 1.258397 5.30477098 3.7538168 5.30477098 2.4740458 0 3.795229-1.7406488 3.795229-5.30477098z"
            ></path><path
              d="m116.50458 14.175c0 .7133588-.545038 1.2998092-1.321183 1.2998092-.754771 0-1.299809-.5877863-1.299809-1.2998092v-5.62003817l.062786-5.4730916-1.824809 5.55725191-1.844847 5.47309156c-.313932.9645039-.964504 1.3425573-1.782062 1.3425573-.860305 0-1.489503-.3980916-1.824809-1.3625954l-1.887595-5.45171758-1.740649-5.47309161.062786 5.3889313v5.62003819c0 .7133588-.545038 1.2998091-1.321183 1.2998091-.754771 0-1.299809-.5877862-1.299809-1.2998091v-11.21870231c0-1.55229008.838931-2.45400764 2.307061-2.45400764 1.383969 0 2.160115.73339695 2.599618 2.0759542l1.929008 5.72423664 1.174237 3.90076341 1.19561-3.90076341 1.929008-5.72423664c.44084-1.34255725 1.195611-2.0759542 2.57958-2.0759542 1.46813 0 2.285687.88034352 2.285687 2.45400764z"
            ></path></g
          ></g
        ></svg
      >
    </div>
  </div>
</div>
