---
import SectionHead from '@components/ui/astro/sectionhead.astro';
import PricingBuild from '@components/ui/react/pricing-build';
---

<div>
  <SectionHead
    title="Website Pricing"
    style="text-center"
    description="Choose a website build package and a hosting plan that best reflects your businesses needs and budget. We offer a range of options to suit all businesses, from small startups to large enterprises.  "
  />
  <PricingBuild />
</div>
