---
import Content from '@components/ui/react/content';
import SectionHead from '@components/ui/react/section-head';
---

<Content client:load cta ctaLink="/contact" ctaText="Get A Quote">
  <p class="font-satoshi text-xl text-neutral-300">
    Here at Sweeny Studio we understand the painful processes that other web agencies offer. We like
    to keep everything as simple as possible for you here. We have a few different packages to
    choose from, but if you don't see what you're looking for, please don't hesitate to contact us
    and we'll be happy to work with you to create a custom package that fits your needs.
  </p>
</Content>
