---
import Agenci from '@assets/portfolio/agenci.png';
import Studio from '@assets/portfolio/darkstudio.png';
import Fashion from '@assets/portfolio/fashion.png';
import Homezy from '@assets/portfolio/homezy.png';
import Inspire from '@assets/portfolio/Inspire.png';
import Joyfolio from '@assets/portfolio/Joyfolio.png';
import Request from '@assets/portfolio/requesto.png';
import Thai from '@assets/portfolio/thai.png';
import WellBeing from '@assets/portfolio/wellbeing.png';
import ScrollingContent from '@components/ui/react/scrolling-content';
import { Picture } from 'astro:assets';

const Pictures = [
  {
    image: Homezy,
    alt: 'Homezy',
  },
  {
    image: Thai,
    alt: 'Thai',
  },
  {
    image: WellBeing,
    alt: 'WellBeing',
  },
  {
    image: Agenci,
    alt: 'Agenci',
  },
  {
    image: Joyfolio,
    alt: 'Joyfolio',
  },
  {
    image: Inspire,
    alt: 'Inspire',
  },
  {
    image: WellBeing,
    alt: 'WellBeing',
  },
  {
    image: Fashion,
    alt: 'Fashion',
  },
  {
    image: Request,
    alt: 'Request',
  },
  {
    image: Studio,
    alt: 'Studio',
  },
];
---

<div class="relative my-4 md:my-16">
  <ScrollingContent client:load baseVelocity={100}>
    {
      Pictures.map(({ image, alt }) => (
        <Picture
          loading="eager"
          src={image}
          format="png"
          alt={alt}
          class="h-32 w-auto rounded-lg border border-neutral-700 sm:h-48 lg:h-72"
        />
      ))
    }
  </ScrollingContent>
</div>
