---
import Container from '@components/ui/astro/container.astro';
import Link from '@components/ui/astro/link.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="404 Not Found">
  <Container>
    <div class="flex min-h-[calc(100vh-20rem)] items-center justify-center">
      <div class="mt-16 text-center">
        <h1
          class="bg-gradient-to-b from-indigo-600 to-indigo-300 bg-clip-text text-6xl font-bold text-transparent lg:text-9xl lg:tracking-tight"
        >
          404
        </h1>
        <p class="mt-4 text-lg font-medium text-slate-700 lg:text-2xl">
          The page you are looking for doesn’t exist.
        </p>
        <div class="mt-10">
          <Link href="/" style="outline">Back to Home</Link>
        </div>
      </div>
    </div>
  </Container>
</Layout>
