---
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import { Discord, Intercom, Messenger, Shopify, Slack, Zapier } from '@components/ui/icons';
import Layout from '@layouts/Layout.astro';

const integrations = [
  {
    name: 'Slack',
    description: 'Get notified in your Slack channels when a new order is placed.',
    Icon: Slack,
    link: '#',
  },

  {
    name: 'Zapier',
    description: 'Connect over 200+ tools with our easy to use Zapier integrations.',
    Icon: Zapier,
    link: '#',
  },

  {
    name: 'Intercom',
    description: 'Send order updates and emails to your customers via Intercom.',
    Icon: Intercom,
    link: '#',
  },

  {
    name: 'Shopify',
    description: 'Create orders and customers in Shopify when a new order is placed.',
    Icon: Shopify,
    link: '#',
  },

  {
    name: 'Messenger',
    description: 'Notify your Facebook Messenger when a new order is placed.',
    Icon: Messenger,
    link: '#',
  },

  {
    name: 'Discord',
    description: 'Notify your Discord server when a new order is placed.',
    Icon: Discord,
    link: '#',
  },
];
---

<Layout title="Integrations">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Integrations</Fragment>
      <Fragment slot="desc">Connect over 200+ tools with our easy to use integrations.</Fragment>
    </Sectionhead>

    <div class="my-24 grid gap-x-10 gap-y-24 md:grid-cols-2 lg:grid-cols-3">
      {
        integrations.map((item) => (
          <div class="group relative flex flex-col items-center rounded-2xl bg-white p-6 shadow ring-2 ring-slate-200/50 transition hover:shadow-md hover:ring-slate-200">
            <div class="-mt-16 grid h-16 w-16 place-items-center rounded-lg bg-white shadow shadow-slate-100 ring-2 ring-slate-200/50 transition group-hover:ring-slate-200">
              <item.Icon class="h-8 w-8" />
            </div>

            <h3 class="mt-4 text-xl font-medium lg:text-2xl">{item.name}</h3>
            <p class="mt-2 text-center text-slate-600 [text-wrap:balance]">{item.description}</p>

            <div class="mt-3">
              <a
                href="#"
                class="focus-visible:shadow-outline-indigo rounded-full px-2 py-1 text-sm text-indigo-600 transition hover:text-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2"
              >
                View Integration
                <span class="absolute inset-0" />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
