---
// @ts-ignore
import Badge from '@components/ui/badge.astro';
import { Icon } from 'astro-icon';

const features = [
  {
    title: 'Bring Your Own Framework',
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: 'fluent:document-javascript-24-regular',
  },
  {
    title: '100% Static HTML, No JS',
    description:
      'Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.',
    icon: 'fluent:trophy-24-regular',
  },
  {
    title: 'On-Demand Components',
    description:
      'Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ',
    icon: 'fluent:box-24-regular',
  },
  {
    title: 'Broad Integration',
    description:
      'Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.',
    icon: 'fluent:box-multiple-24-regular',
  },
  {
    title: 'SEO Enabled',
    description:
      'Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!',
    icon: 'fluent:book-search-24-regular',
  },
  {
    title: 'Community',
    description:
      'Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.',
    icon: 'fluent:people-community-24-regular',
  },
];
---

<!-- <div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    We have got more awesome <span class="text-indigo-600">features</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Use this section to highlight not so important features of your product.
  </p>
</div> -->
<div class="mx-auto mt-24 flex max-w-3xl flex-col items-center justify-center">
  <Badge color="purple">MORE FEATURES</Badge>
  <h2 class="mt-4 text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
    We've got you covered
  </h2>
  <p class="mt-4 text-center text-lg text-slate-600 [text-wrap:pretty]">
    Our template covers all things SAAS. If you don't find what you're looking for, contact us and
    we'll either help you or steer you in the right direction.
  </p>
</div>

<div class="mt-16 grid gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-16">
  {
    features.map((item) => (
      <div class="group flex flex-col items-start gap-4 rounded-lg border border-transparent p-5 transition-all hover:border-slate-100 hover:bg-slate-50 md:-m-5">
        <div class="mt-1 grid h-10 w-10 shrink-0 place-items-center rounded-lg border border-indigo-100 bg-indigo-50  p-2 shadow shadow-indigo-100/50 transition-colors">
          <Icon class="text-indigo-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="text-lg font-semibold">{item.title}</h3>{' '}
          <p class="mt-2 leading-relaxed text-slate-500">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
