---
const { title, style } = Astro.props;
---

<h2 class={` ${style} font-melodrama text-6xl leading-tight sm:text-7xl lg:text-9xl lg:my-16`}>
  <span
    class="bg-gradient-to-b from-neutral-50 from-60% to-neutral-400 bg-clip-text text-transparent lg:to-neutral-600"
  >
    {title}
  </span>
</h2>
