---
const { class: className } = Astro.props;
---

<div
  class:list={[
    ' relative rounded-2xl bg-gray-50/60 p-8 shadow ring-1 ring-gray-200/50 backdrop-blur-md transition-all hover:shadow-lg',
    className,
  ]}
>
  <slot />
</div>
